<p id="notice"><%= notice %></p>

<h1>Email Response</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>response_type</th>
      <th>extra_info</th>
    </tr>
  </thead>

  <tbody>
    <% @email_responses.each do |email| %>
      <tr>
        <td><%= email.email %></td>
        <td><%= email.response_type %></td>
        <td><%= email.extra_info %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

